body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    border: 1px solid;
    border-collapse: collapse;
}

input{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: end;
    font-weight: bold;
    font-size: 25px;

}
td{
    padding: 0;
}



button{
    padding: 10px;
    font-size: 24px;
    margin: 10px 0;
    background-color: green;
    color: white;
    border-radius: 25px;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#title{
    text-align: center;
    
}
body{
    
    background-image: url("./images.jpg");
    background-repeat: no-repeat;
}  
    
table{
    box-shadow: 5px 5px 7px rgb(197, 191, 191);
    
}




